{% if request.user.is_authenticated%}
<h1>{{request.user}}</h1>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href ="{% url 'login' %}">login</a>
{% endif %}

<h1>List Task</h1>
<a href="{% url 'taskcreate' %}">Add</a>
<table>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'taskdetail' task.id %}">View</a></td>
        <td><a href="{% url 'taskupdate' task.id %}">Update</a></td>
        <td><a href="{% url 'taskdelete' task.id %}">delete</a></td>
    </tr>
    {% endfor %}
</table>